<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .text {
            text-align: center;
        }
    </style>
    <title>Kim Ir Sen Project</title>
</head>
<body>
<div class="text">
    <h2>It's your access code to note.<br>
        If you lose it, it's impossible to get your note, because it's completely encrypted.<br>
        Code can be used only once, after that note will be deleted</h2>
    <h3>Your code:</h3>
    <i>{{ code }}</i>
    <br>
    <br>
    <a href="/">Main page</a>
</div>
</body>
</html>